<% provide(:title, "About") %>
<div class="jumbotron">
  <h2>About <%= my_name %></h2>
  <p>
  I grew up in countryside of Shanghai.
  I essentially is a farmer and fell pride to be a farmer.
  I then came to Guilin (You might had ever heard this beautiful city) for college, receiving a bachelor's degree in Computer Science from <a href="http://http://international.guet.edu.cn/english/">Guilin University of Electronic Technology</a>, and met my wife Sophia.
  I lived in north countryside of Stockholm now with my wife and two kids and I worked at <a href="http://www.ericsson.com/">Ericsson AB Sweden</a>.
  </p>
</div>
