<% provide(:title, "About") %>
<div class="jumbotron">
  <h2>About <%= my_name %></h2>
  <p>
  I grew up in countryside of Shanghai. Everyday is a summer's day in my childhood which have a lot of funs.
  Latter I then came to Guilin (You might had ever heard this beautiful city) for college, receiving a bachelor's degree in Computer Science from <a href="http://international.guet.edu.cn/english/">Guilin University of Electronic Technology</a>, and met my wife Sophia there.
  I living in north countryside of Stockholm now with my wife and two kids and I work for <a href="http://www.ericsson.com/">Ericsson AB Sweden</a> as a software engineer.
  </p>
  <p>
  In 2005, I founded Pippin Technology at Shanghai, and this company was been merged into UD Technology latter. At the time in Pippin we aiming to create a software streaming media server based on general hardware platform (no depend on any DSP chip). From technic view we got big success but from commercial view we failed.
  </p>
  <p>
  Now I working for Ericsson's cluster platform. I like programing in different languages and try different new technology.
  </p>
  <p>
  You can get my <%= link_to "CV", root_path+"ScottZhou-CV.pdf" %> here if you are intetesting to know more details about my work experience.
  </p>
  <p>
  I loves different sports. I'm always fell very easy to start as a beginer on a new sport but it's very difficult for me to be expert. I will change my interesting very soon after I pass the beginer phase. Maybe I just don't have tanent on sports but it wouldn't stop me to have funs.
  </p>
  <p>
  You will find way to get contacted with me on the <%= link_to "about", about_path %> page. Don't hesitate to drop me a mail.
  </p>
</div>
