<% provide(:title, "Contact") %>
<div class="jumbotron">
  
  <address>
  <strong><%= my_full_name %></strong><br>
  <abbr title="Location">@</abbr> <%= my_location %><br>
  <a href="mailto:<%= my_email %>"><%= my_email %></a><br>
  <a href="https://se.linkedin.com/pub/scott-cong-zhou/37/b42/930">Linkedin</a><br>
  <a href="https://www.facebook.com/scott.cong.zhou">Facebook</a><br>
  <a href="https://plus.google.com/+ScottCongZhouPlus/">Google Plus</a>
  </address>

</div>
