<% provide(:title, "") %>
<div class="jumbotron">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= image_tag("scott.jpg",class:"img-rounded", alt:"My Photo") %>
    </div>
  
    <div class="col-xs-12 col-sm-8">
      <h2>Hello from <%= my_name %></h2>
      <p>
        Welcome to Scott Zhou's Home on web!<br>
        You found your way here, you might stay a while. If you look around this site you'll get to know a few <%= link_to "about", about_path %> me.
      </p>
    </div>
    <div class="col-xs-12">
      <p>
        My work experience: <%= link_to "Scott Zhou's CV", root_path+"ScottZhou-CV.pdf" %>
      </p>
    </div>
    <div class="col-xs-12">
      <p>
        Interesting sports: football, running, skating, alpine skiing, cycling, swimming, diving, hiking, camping, etc.
      </p>
    </div>
  </div>
</div>
