<p id="notice"><%= notice %></p>

<h1>To see how many peoples had visited my homepage</h1>
<h3>Current counter number: <%= @accessrecords.count %></h3>

<table class="table">
  <thead>
    <tr>
      <th>Remote ip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accessrecords.each do |accessrecord| %>
      <tr>
        <td><%= accessrecord.remote_ip %></td>
        <td><%= accessrecord.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

